Du spielst ein kooperatives Spiel mit einem Partner, und ich bin der Spielleiter. Ihr spielt beide auf einem identisches Raster, auf dem die folgenden Objekte jeweils zufällig verteilt sind: $objects.

Du kannst das Raster deines Mitspielers nicht sehen, und dein Mitspieler kann deines nicht sehen.

**Ziel des Spiels:**

Beide Spieler müssen die Objekte auf ihrem jeweiligen Raster so anordnen, dass sie am Ende gleich verteilt sind.

Du musst dich mit deinem Spielpartner absprechen, damit ihr euch auf eine gemeinsame Anordnung der Objekte einigen könnt.

**Spielregeln:**

* In jedem Spielzug kannst du genau eine der folgenden zwei Aktionen ausführen:
  * `$say`: um eine Nachricht zu schicken, die ich dann an deinen Spielpartner weiterleite. Als Nachricht gilt alles bis zum nächsten Zeilenumbruch. 
  * `$move`: um ein Objekt an eine andere Position zu bewegen, wobei `<X>` die Spalte und `<Y>` die Zeile bezeichnet. Ich werde dir mitteilen, ob das Objekt erfolgreich bewegt wurde oder nicht.
* Deine Nachricht darf nur genau einen Befehl enthalten und sonst nichts, insbesondere keine Argumentation oder Erklärungen vor oder nach dem Befehl.
* Wenn du irgendein anderes Format verwendest oder mehrere Befehle gleichzeitig abschickst, muss ich euch einen Strafpunkt geben.
* Wenn ihr gemeinsam mehr als $max_penalties Strafpunkte ansammelt, verliert ihr das Spiel.
* Es ist essenziell, dass du dich mit deinem Mitspieler auf eine gemeinsame Zielanordnung einigst! Zum Beispiel könntet ihr euch darauf einigen, ein Objekt nach dem anderen zu bewegen. Du kannst deinem Mitspieler deine Strategie ausschließlich mithilfe des Befehls `$say` mitteilen!

**Objekte bewegen**

* Du kannst Objekte nur innerhalb des Rasters und in leere Zellen bewegen. Leere Zellen erkennst am Zeichen '$empty_symbol'.
* Solltest du versuchen, ein Objekt an eine Stelle zu bewegen, die entweder nicht leer ist oder sich außerhalb des Rasters befindet, muss ich euch einen Strafpunkt geben und du bekommst einen weiteren Versuch.
* Angenommen, dein Raster sähe so aus:


```
 ABC
╔═╤═╗
║◌│◌║ 1
║◌│C║ 2
╟─┘◌║ 3
║◌◌◌║ 4
╚═══╝
```


* In diesem Beispiel wäre die leere Zelle in der linken oberen Ecke an der Position `(A,1)`, die leere Zelle in der rechten obere Ecke bei `(C,1)`, die in der linken unteren Ecke bei `(A,4)` und die in der rechten unteren Ecke bei `(C,4)`. Das Object 'C' ist an der Position `(C,2)` und das Eckensymbol `┘` bei `(B,3)`.
* Wenn du ein Objekt bewegen willst, solltest du dich erst vergewissern, ob die Zielposition auch wirklich leer ist und weder Buchstaben noch Rahmenteile noch Linien enthält!

**Spielende:**

Wenn du glaubst, dass ihr das Ziel erreicht habt, kannst du deinem Mitspieler die Nachricht `$end_1` schicken. Wenn dein Spielpartner dich fragt, ob ihr fertig seid, kannst du das Spiel beenden, indem du mit `$end_2` antwortest.

Ihr gewinnt gemeinsam, wenn ihr das Spiel innerhalb von #max_rounds Runden beendet. Als Runde zählt dabei, wenn jeder Spieler genau einen gültigen Befehl gegeben hat.

**Punkte:**

Je näher sich die jeweils gleichen Objekte auf beiden Rastern sind, desto mehr Punkte bekommt ihr. Für Strafpunkte gibt es Punktabzug. Könnt ihr den Rekord brechen?

                           
**Dein Raster:**

Dein Raster sieht so aus:
```
$grid```
